<table class="tabel table-striped table-bordered" style="background-color:AppWorkspace;">
    <a class="btn btn-success" style="margin-bottom:15px" ng-href="#/leases/create/">Create Lease</a>
    <thead>
        <tr>
            <th style="font-size:large">TenantId</th>
            <th style="font-size:large">PropertyId</th>
            <th style="font-size:large">StartDate</th>
            <th style="font-size:large">EndDate</th>
            <th style="font-size:large">Rent</th>
            <th style="font-size:large">Rent Frequency</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="lease in leases">
            <td>{{lease.TenantId}}</td>
            <td>{{lease.PropertyId}}</td>
            <td>{{lease.StartDate}}</td>
            <td>{{lease.EndDate}}</td>
            <td>{{lease.Rent}}</td>
            <td>{{lease.RentFrequency}}</td>
            <td>
                <a class="btn btn-default" ng-href="#/leases/detail/{{lease.LeaseId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteLease(lease)">Delete</a>
            </td>
        </tr>


    </tbody>
</table>