<form name="workOrderDetail">

    <div class="form-group">


        <span class="label label-default" style="font-size:large">TenantId</span>
        <input type="text" class="form-control" ng-model="workorder.TenantId" />
    </div>

    <div class="form-group">
        <span class="label label-default" style="font-size:large">PropertyId</span>
        <input type="text" class="form-control" ng-model="workorder.PropertyId" />
    </div>

    <div class="form-group">
        <span class="label label-default" style="font-size:large">Description</span>
        <input type="text" class="form-control" ng-model="workorder.Descriptions" />
    </div>

    <div class="form-group">
        <span class="label label-default" style="font-size:large">Open Date</span>
        <input type="text" class="form-control" ng-model="workorder.OpenDate" />
    </div>

    <div class="form-group">
        <span class="label label-default" style="font-size:large">Closed Date</span>
        <input type="text" class="form-control" ng-model="workorder.ClosedDate" />
    </div>

    <div class="form-group">
        <span class="label label-default" style="font-size:large">Priority</span>
        <input type="text" class="form-control" ng-model="workorder.Priority" />
    </div>


    <well clearfix>
        <button class="btn btn-default btn-lg center-block" style="margin-bottom:3px" ng-click="saveWorkOrder()">Save</button>
    </well>



</form>