<table class="tabel table-striped table-responsive" style="background-color:AppWorkspace;">
   <a class="btn btn-success" style="margin-bottom:15px" ng-href="#/workorders/create/">Create Workorder</a>
    <thead>
        <tr>
            <th style="font-size:large; padding:5px">PropertyId</th>
            <th style="font-size:large; padding:5px">TenantId</th>
            <th style="font-size:large; padding:5px">Description</th>
            <th style="font-size:large; padding:5px; padding-right:25px">Open</th>
            <th style="font-size:large; padding:5px; padding-right:25px">Close</th>
            <th style="font-size:large; padding:5px">Priority</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="workorder in workorders">
            <td style="padding:5px">{{workorder.PropertyId}}</td>
            <td style="padding:5px">{{workorder.TenantId}}</td>
            <td style="padding:5px">{{workorder.Descriptions}}</td>
            <td style="padding:5px">{{workorder.OpenDate | date: 'shortDate'}}           </td>
            <td style="padding:5px">{{workorder.ClosedDate | date: 'shortDate'}}        </td>
            <td style="padding:5px">{{workorder.Priority}}</td>
            <td style="padding:5px">
                <a class="btn btn-default" ng-href="#/workorders/detail/{{workorder.WorkOrderId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteWorkOrder(workorder)">Delete</a>
            </td>
        </tr>


    </tbody>
</table>