<link href="../../../style/create.css" rel="stylesheet" />

<div class="jumbotron">

    <h2 style="margin-bottom:40px;" class="text-center">Create Workorder</h2>
    <form name="workOrderCreate">

        <div class="form-group">
            <span class="label label-default" style="font-size:large">PropertyId</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.PropertyId" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">TenantId</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.TenantId" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Description</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.Descriptions" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Open Date</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.OpenDate" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Closed Date</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.ClosedDate" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Priority</span>
            <input type="text" class="form-control" ng-model="newWorkOrder.Priority" />
        </div>

        <well clearfix>
            <button class="btn btn-success btn-lg center-block" style="margin-bottom:3px" ng-click="createWorkOrder()">Create</button>
        </well>

    </form>

</div>