<table class="tabel table-striped table-bordered" style="background-color:AppWorkspace;">
    <a class="btn btn-success" style="margin-bottom:15px" ng-href="#/properties/create/">Create Property</a>
    <thead>
        <tr>
            <th style="font-size:large">Address</th>
            <th style="font-size:large">City</th>
            <th style="font-size:large">State</th>
            <th style="font-size:large">ZipCode</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="property in properties">
            <td>{{property.Address.Address1}}</td>
            <td>{{property.Address.City}}</td>
            <td>{{property.Address.State}}</td>
            <td>{{property.Address.ZipCode}}</td>
            <td>
                <a class="btn btn-default" ng-href="#/properties/detail/{{property.PropertyId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteProperty(property)">Delete</a>
            </td>
        </tr>
        

    </tbody>
</table>