<form name="workOrderCreate">

    <div class="form-group">
        <div>AdressId</div>
        <input type="text" class="form-control" ng-model="newProperty.AddressId" />
    </div>


    <!--<div class="form-group">
        <div>Adress</div>
        <input type="text" class="form-control" ng-model="newProperty.Address.Adress1" />
    </div>

    <div class="form-group">
        <div>City</div>
        <input type="text" class="form-control" ng-model="newProperty.Address.City" />
    </div>

    <div class="form-group">
        <div>State</div>
        <input type="text" class="form-control" ng-model="newProperty.Address.State" />
    </div>

    <div class="form-group">
        <div>Zip Code</div>
        <input type="text" class="form-control" ng-model="newProperty.Address.ZipCode" />
    </div>-->

    <well clearfix>
        <button class="btn btn-primary btn-lg center-block" style="margin-bottom:3px" ng-click="createProperty()">Create</button>
    </well>



</form>