<form name="tenantCreate">

    <div class="form-group">
        <div>Address Id</div>
        <input type="text" class="form-control" ng-model="newTenant.AddressId" />
    </div>

    <div class="form-group">
        <div>First</div>
        <input type="text" class="form-control" ng-model="newTenant.FirstName" />
    </div>

    <div class="form-group">
        <div>Last</div>
        <input type="text" class="form-control" ng-model="newTenant.LastName" />
    </div>

    <div class="form-group">
        <div>Telephone Number</div>
        <input type="text" class="form-control" ng-model="newTenant.TelephoneNumber" />
    </div>

    <div class="form-group">
        <div>E-mail</div>
        <input type="text" class="form-control" ng-model="newTenant.Email" />
    </div>

    <well clearfix>
        <button class="btn btn-primary btn-lg center-block" style="margin-bottom:3px" ng-click="createTenant()">Create</button>
    </well>



</form>