<link href="../../../style/create.css" rel="stylesheet" />
<div class="jumbotron">

    <h2 style="margin-bottom:40px;" class="text-center">Create Property</h2>
    <form name="workOrderCreate">

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Address</span>
            <input type="text" class="form-control" ng-model="newProperty.Address1" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">City</span>
            <input type="text" class="form-control" ng-model="newProperty.City" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">State</span>
            <input type="text" class="form-control" ng-model="newProperty.State" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Zip Code</span>
            <input type="text" class="form-control" ng-model="newProperty.ZipCode" />
        </div>

        <well clearfix>
            <button class="btn btn-success btn-lg center-block" style="margin-bottom:3px" ng-click="createProperty()">Create</button>
        </well>
    </form>

</div>