<a class="btn btn-success" style="margin-bottom:15px" ng-href="#/app/properties/create/">Create Property</a>

<table class="table-hover table-bordered" style="background-color:AppWorkspace;">
   
    <thead>
        <tr>
            <th style="font-size:large; padding:5px">Address</th>
            <th style="font-size:large; padding:5px">City</th>
            <th style="font-size:large; padding:5px">State</th>
            <th style="font-size:large; padding:5px">ZipCode</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="property in properties">
            <td style="padding:5px">{{property.Address.Address1}}</td>
            <td style="padding:5px">{{property.Address.City}}</td>
            <td style="padding:5px">{{property.Address.State}}</td>
            <td style="padding:5px">{{property.Address.ZipCode}}</td>
            <td style="padding:5px">
                <a class="btn btn-default" ng-href="#/app/properties/detail/{{property.PropertyId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteProperty(property)">Delete</a>
            </td>
        </tr>
        

    </tbody>
</table>