<link href="../../style/home.css" rel="stylesheet" />

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
    <!-- Overlay -->
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item slides active">
            <div class="overlay"></div>
            <div class="slide-1"></div>
            <div class="hero">
                <hgroup>
                    <h1>Propz </h1>
                    <h1>Property Management Software</h1>
                    <h3>For landlords and property owners</h3>
                </hgroup>
                <a ng-href="#/register" class="btn btn-success btn-lg">Register</a>
                <a ng-href="#/login" class="btn btn-success btn-lg">Login</a>
            </div>
        </div>
        <div class="item slides">
            <div class="overlay"></div>
            <div class="slide-2"></div>
            <div class="hero">
                <hgroup>
                    <h1>Fully integrated web app</h1>
                    <h3>Management solutions for the future</h3>
                </hgroup>
                <a href="#/register" class="btn btn-success btn-lg" role="button">Register</a>
                <a href="#/login" class="btn btn-success btn-lg" role="button">Login</a>
            </div>
        </div>
        <div class="item slides">
            <div class="overlay"></div>
            <div class="slide-3"></div>
            <div class="hero">
                <hgroup>
                    <h1>Manage now</h1>
                    <h3>Get started managing your properties with Propz!</h3>
                </hgroup>
                <a href="#/register" class="btn btn-success btn-lg" role="button">Register</a>
                <a href="#/login" class="btn btn-success btn-lg" role="button">Login</a>
            </div>
        </div>
    </div>
</div>

