<div class="container">

 

    <div class="jumbotron" style="center; margin-top:45px; border: 2px solid black;">
        <h1 style="text-align:center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Propz</h1>
        <p style="text-align:center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">Property Management</p>
        <!--<img src="https://images.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.joelane.com%2Fimages%2Freal-estate-closing300.jpg&f=1" class="img-circle" Width="234">-->
        <div class="well" align="center" style="font-size:x-large; margin-top:50px;">
            <a href="#/register">Register </a>
        </div>

        <div class="well" align="center" style="font-size:x-large">
            <a href="#/login">Login</a>
        </div>

    </div>



</div>