<link href="../../../style/create.css" rel="stylesheet" />

<div class="jumbotron">

    <h2 style="margin-bottom:40px;" class="text-center">Edit Tenant</h2>

    <form name="tenantDetail">

        <div class="form-group">


            <span class="label label-default" style="font-size:large">First Name</span>
            <input type="text" class="form-control" ng-model="tenant.FirstName" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Last Name</span>
            <input type="text" class="form-control" ng-model="tenant.LastName" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Telephone Number</span>
            <input type="text" class="form-control" ng-model="tenant.TelephoneNumber" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Email</span>
            <input type="text" class="form-control" ng-model="tenant.Email" />
        </div>

        <well clearfix>
            <button class="btn btn-default btn-lg center-block" style="margin-bottom:3px" ng-click="saveTenant(tenant)">Save</button>
        </well>

    </form>

    </div>