<a class="btn btn-success" style="margin-bottom:15px" ng-href="#/app/tenants/create/">Create Tenant</a>

<table class="tabel table-striped table-bordered" style="background-color:AppWorkspace;">
    
    <thead>
        <tr>
            <th style="font-size:large; padding:5px">First Name</th>
            <th style="font-size:large; padding:5px">Last Name</th>
            <th style="font-size:large; padding:5px">Telephone Number</th>
            <th style="font-size:large; padding:5px">Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="tenant in tenants">
            <td style="padding:5px">{{tenant.FirstName}}</td>
            <td style="padding:5px">{{tenant.LastName}}</td>
            <td style="padding:5px">{{tenant.TelephoneNumber}}</td>
            <td style="padding:5px">{{tenant.Email}}</td>
            <td style="padding:5px">
                <a class="btn btn-default" ng-href="#/app/tenants/detail/{{tenant.TenantId}}">Edit</a>
                <a class="btn btn-danger" ng-click="deleteTenant(tenant)">Delete</a>
            </td>
        </tr>


    </tbody>
</table>