table {
    color: black;
}

th {
    padding: 10px;
    font-size:x-large
}

td {
    padding:4px;
    font-size:larger;
}


.box {
    text-align: center;
    display: block;
    margin-top: 30px;
    margin-bottom:50px;
}
