<link href="../../../style/create.css" rel="stylesheet" />

<div class="jumbotron">

    <h2 style="margin-bottom:40px;" class="text-center">Edit Lease</h2>

    <form name="leaseDetail">

        <div class="form-group">

            <span class="label label-default" style="font-size:large">TenantId</span>
            <input type="text" class="form-control" ng-model="lease.TenantId" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">PropertyId</span>
            <input type="text" class="form-control" ng-model="lease.PropertyId" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Start Date</span>
            <input type="text" class="form-control" ng-model="lease.StartDate" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">End Date</span>
            <input type="text" class="form-control" ng-model="lease.EndDate" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Rent</span>
            <input type="text" class="form-control" ng-model="lease.Rent" />
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Rent Frequency</span>
            <input type="text" class="form-control" ng-model="lease.RentFrequency" />
        </div>

        <div class="col-lg-6">
            <span class="label label-default" style="font-size:large">Tenant</span>
            <select name="singleSelect" id="singleSelect" ng-model="lease.">
                <option value="">---Please select---</option> <!-- not selected / blank option -->
                <option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
                <option value="option-2">Option 2</option>
            </select>
        </div>

        <well clearfix>
            <button class="btn btn-default btn-lg center-block" style="margin-bottom:3px" ng-click="saveLease(lease)">Save</button>
        </well>

    </form>

</div>