<link href="../../../style/create.css" rel="stylesheet" />

<div class="jumbotron">

    <h2 style="margin-bottom:40px;" class="text-center">Create Lease</h2>

    <form name="workOrderCreate">
        <div class="form-group">
            <span class="label label-default" style="font-size:large">Tenant</span>
            <select class="form-control" ng-options="t.TenantId as t.LastName for t in tenants" ng-model="newLease.TenantId">
                <option value="">Select a Tenant</option>
            </select>
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Property</span>
            <select class="form-control" ng-options="p.PropertyId as p.Address1 for p in properties" ng-model="newLease.PropertyId">
                <option value="">Select a Property</option>
            </select>
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Start Date</span>
            <!--<input type="text" class="form-control" ng-model="newLease.StartDate" />-->
            <div>
                <input datetime-picker type="date" ng-model="newLease.StartDate" />
            </div>
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">End Date</span>
            <!--<input type="text" class="form-control" ng-model="newLease.EndDate" />-->
            <div>
                <input datetime-picker type="date" ng-model="newLease.EndDate" />
            </div>
        </div>

        <div class="form-group">
            <span class="label label-default" style="font-size:large">Rent</span>
            <input type="text" class="form-control" ng-model="newLease.Rent" />
        </div>

        <!--<div class="form-group">
            <span class="label label-default" style="font-size:large">Rent Frequency</span>
            <input type="text" class="form-control" ng-model="newLease.RentFrequency" />
        </div>-->

        <well clearfix>
            <button class="btn btn-success btn-lg center-block" style="margin-bottom:3px" ng-click="createLease()">Create</button>
        </well>

    </form>

</div>