<div class="container">

    <h1> Propz</h1>

    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" ng-model="registration.Username" />
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" ng-model="registration.EmailAddress" />
    </div>

    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="registration.Password"/>
    </div>

    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" ng-model="registration.ConfirmPassword" />
    </div>

    <button class="btn btn-default" ng-click="register()">Register</button>

</div>